$primaryColor: #919191; // Temp //
$secondaryColor: #e2e2e2;
$fontColor: #241818;
$menuColor: red;

$defaultFont: "Hanken Grotesk", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;
